<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>Hi user, <br></p>
    <p>Hope you are doing well. This mail is to notify you that<br> number of books that you read today are : 2</p>
  </body>
</html>