<div class="stud_edit">
<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to t('global.show'), @student ,class: "card-link",class: "btn btn-info"  %> |
<%= link_to t('global.back'), students_path ,class: "card-link",class: "btn btn-info"  %>
</div>