// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.div{
    height: 400px;
    width: 800px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }