// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
    width:500px;
    margin: 0 auto;
    background: gray;
    text-align: center;}

.simple_form{
    text-align : center;
}

.stud_new_card{
    text-align: left;

}